packages/


[Bb]in

[Dd]ebug
[Rr]elease
*.suo
**.dotsettings
/*.user
TestResults/
Visual Studio 2012/
/source/boomerang.demo/demo.Api/*.user
/source/boomerang.demo/demo.Specifications/*.user
/source/boomerang.demo/demo.console/*.user
